:root {
  --ochqora: #222222;
  --oq: #ffffff;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Open Sans Condensed";
}

/* Header */

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 10px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-link {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--ochqora);
  letter-spacing: 2px;
}
.header-div-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Mene toggle */

.slide {
  position: absolute;
  top: -157px;
  border-radius: 5px;
  right: 5px;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--oq);
  transition: 0.5s ease;
}

.menu {
  display: none;
  position: relative;
  height: 30px;
  width: 30px;
  background-color: var(--oq);
  border-radius: 3px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.menu .common {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 50px;
  transition: 0.5s ease;
}

.menu .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .menu .top_line {
  left: 5px;
  top: 14px;
  transform: rotate(45deg);
}

input:checked ~ .menu .bottom_line {
  left: 5px;
  top: 14px;
  transform: rotate(-45deg);
}

input:checked ~ .menu .middle_line {
  opacity: 0;
  transform: translateX(20px);
}

input:checked ~ .slide {
  top: 107px;
}

.slide-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.input_checkbox {
  display: none;
  visibility: hidden;
}

.header-buttton {
  padding: 12px 24px;
  background-color: #de2e54;
  border-radius: 8px;
  color: var(--oq);
  font-weight: 700;
  font-size: 15px;
  border: 2px solid #de2e54;
}

/* Hero section */

.hero-section {
  background-color: #0eb4c1;
  padding-top: 29px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--oq);
  margin-bottom: 16px;
}
.section-text {
  font-size: 18px;
  color: var(--oq);
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 36px;
  width: 440px;
}

/* Xizmatlar second section */

.section-heading {
  text-align: center;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 56px;
  margin-top: 120px;
}

.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 120px;
}

.section-div {
  display: flex;
  align-items: center;
  gap: 64px;
}

.second-section-text {
  width: 600px;
}
.second-section-title {
  color: var(--ochqora);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}
.second-section-description {
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  line-height: 150%;
}

/* Four section */

.four-section {
  background-color: #0eb4c1;
  padding: 64px 0;
}

.four-section-title {
  text-align: center;
  font-size: 36px;
  color: var(--oq);
  font-weight: 700;
  margin-bottom: 40px;
}

.four-section-buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.four-section-button {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: transparent;
  color: var(--oq);
  border: 2px solid var(--oq);
}

/* Footer  */

.footer {
  background-color: var(--ochqora);
  padding: 24px 10px;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-logo-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--oq);
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer-link {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--oq);
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .navbar .container {
    gap: 20px;
  }
  .header-buttton {
    padding: 10px 20px;
    font-size: 10px;
  }
  .hero-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-one-content {
    text-align: center;
    margin-bottom: 20px;
  }
  .section-text {
    width: 100%;
    text-align: center;
  }
  .section-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .second-section-text {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .header-links {
    display: none;
  }
  .menu {
    display: block;
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .header-buttton {
    display: none;
  }
  .section-title {
    font-size: 25px;
  }
  .section-imgdiv img {
    width: 300px;
  }
  .four-section-buttons {
    flex-direction: column;
    gap: 20px;
  }
  .four-section-title {
    font-size: 28px;
  }
  .four-section-button {
    width: 250px;
    height: 40px;
    font-size: 13px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
  }
  .slide {
    height: 180px;
    width: 150px;
    align-items: start;
    padding: 20px;
  }
  .slide-links {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
@media (max-width: 320px) {
  .section-title {
    font-size: 20px;
  }
  .four-section-title {
    font-size: 20px;
  }
  .slide-links {
    flex-direction: column;
    gap: 5px;
  }
}
